#frame_buttom{
    background-color: rgb(255, 228, 241);
}
QTextBrowser{
border:none;
font: 14pt "MingLiU-ExtB";
background-color: rgb(255, 228, 241);
}
#frame_title{
    background-color: rgb(255, 204, 229);
}
#frame{
    border: none;
}
QPushButton{
border:none;
}
QPushButton:hover, QPushButton:checked{
background: rgb(229, 205, 216);
}
